.dinningCatagories {
    width: 45rem;
    height: 50vh;
    margin-left: -7.9rem;
}

.dinningItems {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.dinningItems ul li {
    margin-top: 1rem;
    cursor: pointer;
}