/* .BedHeadingImg {
    width: 57%;
    height: 45vh;
}

.BedHeadingText {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */



.imgLink {
    /* padding: .8rem;
    width:90%;
    height: 50vh;
    margin: 1rem ;
    border-radius: .5rem;

    overflow: hidden; */

}

/* .imgLink:hover {
    border: 2px solid #B4B4B8;
} */

.imgItem {
    width:100%;
    height: 100%;
    transition: all 1s;
    border-radius: .5rem;
  
    

}

/* .imgBox { */
    /* width:100%;
    height: 80%; */
    /* overflow: hidden; */
    /* position: relative; */
    /* display: inline-block; */
    /* border-radius: .5rem; */

/* } */

.imgBox:hover .imgItem {
    transform: scale(1.2);

}
