.KidsTeenageCatagories {
    width: 45rem;
    height: 50vh;
    margin-left: -14.5rem;
}

.KidsTeenageItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

