.OfficeCatagories {
    width: 45rem;
    height: 50vh;
    margin-left: -31rem;
}

.LivingRoomItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

